# App Config
PROJECT_NAME="Data-Stock"
API_V1_STR="/api/v1"
SECRET_KEY="CHANGEME_USE_A_STRONG_RANDOM_STRING"
ACCESS_TOKEN_EXPIRE_MINUTES=11520 # 8 days

# PostgreSQL
POSTGRES_SERVER=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=datastock
POSTGRES_PORT=5432

# First Superuser
FIRST_SUPERUSER=admin@datastock.com
FIRST_SUPERUSER_PASSWORD=adminpassword

# Airflow
AIRFLOW_UID=1000
